# **Project Everest Report - Jakub Bartnik**

## GitHub URL 
https://github.com/jakubbartnik/UCDPA_jakubbartnik

##Abstract 
(short overview  of entire project and features

##Introduction
(why you choose this project use case

##Dataset
(provide description of your datase4t and source. Also justyfy why you chose this source.

##Implementation Process
(describe your entire process in detail can be done in points if you like

##Results
(include the charts and describe them

##Insights
(point out at least 5 insights in bullet points

###References

Data_set - https://www.kaggle.com/datasets/majunbajun/himalayan-climbing-expeditions

In [12]:
import pandas as pd
df_exp = pd.read_csv('/content/everest_data/expeditions.csv')
df_peaks = pd.read_csv('/content/everest_data/peaks.csv')
df_mem = pd.read_csv('/content/everest_data/members.csv')

df_exp.head(100)
df_peaks.head(100)
df_mem.head(100)

,expedition_id,member_id,peak_id,peak_name,year,season,sex,age,citizenship,expedition_role,...,highpoint_metres,success,solo,oxygen_used,died,death_cause,death_height_metres,injured,injury_type,injury_height_metres
0,AMAD78301,AMAD78301-01,AMAD,Ama Dablam,1978,Autumn,M,40.0,France,Leader,...,NaN,False,False,False,False,NaN,NaN,False,NaN,NaN
1,AMAD78301,AMAD78301-02,AMAD,Ama Dablam,1978,Autumn,M,41.0,France,Deputy Leader,...,6000.0,False,False,False,False,NaN,NaN,False,NaN,NaN
2,AMAD78301,AMAD78301-03,AMAD,Ama Dablam,1978,Autumn,M,27.0,France,Climber,...,NaN,False,False,False,False,NaN,NaN,False,NaN,NaN
3,AMAD78301,AMAD78301-04,AMAD,Ama Dablam,1978,Autumn,M,40.0,France,Exp Doctor,...,6000.0,False,False,False,False,NaN,NaN,False,NaN,NaN
4,AMAD78301,AMAD78301-05,AMAD,Ama Dablam,1978,Autumn,M,34.0,France,Climber,...,NaN,False,False,False,False,NaN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AMAD81301,AMAD81301-03,AMAD,Ama Dablam,1981,Autumn,M,33.0,USA,Climber,...,NaN,False,False,False,False,NaN,NaN,False,NaN,NaN
96,AMAD81301,AMAD81301-04,AMAD,Ama Dablam,1981,Autumn,M,19.0,USA,Climber,...,6155.0,False,False,False,False,NaN,NaN,False,NaN,NaN
97,AMAD81301,AMAD81301-05,AMAD,Ama Dablam,1981,Autumn,M,28.0,USA,Climber,...,6814.0,True,False,False,False,NaN,NaN,False,NaN,NaN
98,AMAD81301,AMAD81301-06,AMAD,Ama Dablam,1981,Autumn,M,34.0,USA,Climber,...,6814.0,True,False,False,False,NaN,NaN,False,NaN,NaN
99,AMAD81301,AMAD81301-07,AMAD,Ama Dablam,1981,Autumn,M,NaN,USA,Climber,...,5945.0,False,False,False,False,NaN,NaN,False,NaN,NaN