#Web scrapping
Pourpose of this notebook is to demonstrate webscrapping using BeatifulSoup

In [42]:
from bs4 import BeautifulSoup 
import requests
import numpy as np
import pandas as pd

I chose the simplest possible webpage for this task.

In [36]:
scrapurl = requests.get("https://quotes.toscrape.com")
soup = BeautifulSoup(scrapurl.text, "html.parser")

Took a while for me to figure out how each quote has been represented in html code. I am using simple option to find all the following - "span class="text" itemprop="text" and "small class="author" itemprop="author"

In [37]:
quotes = soup.findAll("span", attrs={"class":"text"})
authors = soup.findAll("small", attrs={"class":"author"})

To print original parsed web content

In [ ]:
print(soup)

To print text content of webpage I need to iterate my quotes and authors. I am using combined zip to get format "quote" - "author"

In [39]:
for quote, author in zip(quotes, authors):
  print(quote.text + ", " + author.text)

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”, Albert Einstein
“It is our choices, Harry, that show what we truly are, far more than our abilities.”, J.K. Rowling
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”, Albert Einstein
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”, Jane Austen
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”, Marilyn Monroe
“Try not to become a man of success. Rather become a man of value.”, Albert Einstein
“It is better to be hated for what you are than to be loved for what you are not.”, André Gide
“I have not failed. I've just found 10,000 ways that won't work.”, Thomas A. Edison
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”, Eleanor Roosevelt
“A day without sunshine is like, you know, night.”, Steve Martin

In [40]:
#adding it to numpy array
table = np.array(list(zip(quotes, authors)))

In [48]:
print(table)

[[['“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”']
  ['Albert Einstein']]

 [['“It is our choices, Harry, that show what we truly are, far more than our abilities.”']
  ['J.K. Rowling']]

 [['“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”']
  ['Albert Einstein']]

 [['“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”']
  ['Jane Austen']]

 [["“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”"]
  ['Marilyn Monroe']]

 [['“Try not to become a man of success. Rather become a man of value.”']
  ['Albert Einstein']]

 [['“It is better to be hated for what you are than to be loved for what you are not.”']
  ['André Gide']]

 [["“I have not failed. I've just found 10,000 ways that won't work.”"]
  ['Thomas A. Edison']]

 [["“A woman is like a tea bag; you never know how strong it is until it's in hot water.”"]
  ['Eleanor Roosevelt']]

 [['“A day without sunshine is like, you know, night.”']
  ['Steve Martin']]]

converting table to dataframe

In [54]:
df = pd.DataFrame.from_records(table)

In [56]:
df.head(20)

                                                   0                    1
0  [“The world as we have created it is a process...    [Albert Einstein]
1  [“It is our choices, Harry, that show what we ...       [J.K. Rowling]
2  [“There are only two ways to live your life. O...    [Albert Einstein]
3  [“The person, be it gentleman or lady, who has...        [Jane Austen]
4  [“Imperfection is beauty, madness is genius an...     [Marilyn Monroe]
5  [“Try not to become a man of success. Rather b...    [Albert Einstein]
6  [“It is better to be hated for what you are th...         [André Gide]
7  [“I have not failed. I've just found 10,000 wa...   [Thomas A. Edison]
8  [“A woman is like a tea bag; you never know ho...  [Eleanor Roosevelt]
9  [“A day without sunshine is like, you know, ni...       [Steve Martin]

At this point I can save this to a file which I demonstrated in first notebook Jakub_Bartnik_Everest.ipynb